.banner {
	position: relative;
	z-index: 0;
	height: 199px;
	color: #fff;
}

.banner .content {
	text-align: center;
}

.banner .content p {
	display: inline-block;
	position: relative;
}


/* Banners experiencia */

.banner-experiencia {
	background: #bfa966 url('assets/banner-experiencia.jpg') no-repeat center top;
}

.banner-experiencia .content{
	margin-top: 93px;
}

.banner-experiencia p {
	margin-right: 0px;
}

.banner-experiencia p.a1 {
	font-size: 56px;
	font-family: 'museo700';
	letter-spacing: 0W;
}

.banner-experiencia p.a2 {
	font-family: 'museo500';
	font-size: 54px;
	letter-spacing: 0;
}

.banner-experiencia p.a3 {
	font-family: 'museo700';
	font-size: 15px;
	top: -10px;
}

.banner-experiencia p.a4 {
	font-family: 'museo300';
	font-size: 58px;
	letter-spacing: 0;
}

.banner-experiencia p.a5 {
	font-family: 'museo300';
	font-size: 50px;
	letter-spacing: 0;
}






/* Banners ideas innovadoras */

.banner-ideas-innovadoras{
	background: #bfa966 url('assets/banner-ideas-innovadoras.jpg') no-repeat center top;
}

.banner-ideas-innovadoras .content {
	margin-top: 78px;
}

.banner-ideas-innovadoras .content p {
	margin-right: 2px;
}

.banner-ideas-innovadoras p.a1 {
	font-size: 13px;
	font-family: 'museo700';
	line-height: 16px;
	text-align: right;
	width: 200px;
}

.banner-ideas-innovadoras p.a2 {
	font-family: 'museo700';
	font-size: 56px;
	letter-spacing: 0;
}

.banner-ideas-innovadoras p.a3 {
	font-family: 'museo500';
	font-size: 17px;
}

.banner-ideas-innovadoras p.a4 {
	font-family: 'museo500';
	font-size: 24px;
}

.banner-ideas-innovadoras p.a5 {
	font-family: 'museo700';
	font-size: 13px;
}

.banner-ideas-innovadoras p.a6 {
	font-family: 'museo700';
	font-size: 40px;
	letter-spacing: 2px;
}



/* Banners Futuro */

.banner-futuro {
	background: #bfa966 url('assets/banner-futuro.jpg') no-repeat center top;
}

.banner-futuro .content {
	margin-top: 84px;
}

.banner-futuro p {
	margin-right: 10px;
}

.banner-futuro p.a1 {
	font-size: 13px;
	font-family: 'museo700';
	line-height: 16px;
	text-align: right;
	width: 200px;
}

.banner-futuro p.a2 {
	font-family: 'museo700';
	font-size: 60px;
	letter-spacing: 0;
}

.banner-futuro p.a3 {
	font-family: 'museo700';
	font-size: 20px;
}

.banner-futuro p.a4 {
	font-family: 'museo300';
	font-size: 58px;
	letter-spacing: 0;
}

.banner-futuro p.a5 {
	font-family: 'museo700';
	font-size: 13px;
	line-height: 16px;
}

.banner-casos{
	background: #bfa966 url('assets/banner-casos.jpg') no-repeat center top;
}

.banner-casos .content p{
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.banner-casos p.a1{
	font-family: 'museo500';
	font-size: 13px;
	line-height: 16px;
	margin-top: 64px;
}

.banner-casos p.a2{
	font-family: 'museo700';
	font-size: 40px;
	line-height: 44px;
	margin-top: 10px;
}


@media (max-width: 1024px) {
	.banner {
		display: none;
	}
}