.bienvenidos {
	background-image: url('./assets/bg-bienvenidos.jpg');
	padding-top: 80px;
}

.bienvenidos .slogan {
	font-size: 25px;
	line-height: 32px;
	color: #fff;
	text-shadow: 0px 0px 15px #000;
	position: absolute;
	left: 100px;
	right: 100px;
	bottom: 200px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.bienvenidos .slogan span {
	font-family: 'museo500';
	display: inline-block;
	border-bottom: 3px solid #b1a06c;
}

.bienvenidos .logo-20-years {
	top: 30px;
	left: 60px;
	position: absolute;
}

.bienvenidos .bid {
	position: absolute;
	right: 30px;
	bottom: 70px;
	width: 49%;
}

.bienvenidos .bid img{
	float: right;
	width: 240px;
}

.bienvenidos .bid .icon-more {
	position: absolute;
	bottom: -10px;
	right: 12px;
}

.bienvenidos .bid article {
	position: absolute;
	top: 0;
	right: 240px;
	left: 0;
	bottom: 0;
	background: #fff;
	padding: 20px;
	text-align: right;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.bienvenidos .bid article.open {
	opacity: 1;
}

.bienvenidos .bid article p{
	font-family: 'museo500';
	color: #b9b9b9;
	font-size: 12px;
	line-height: 18px;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 5;
	padding-left: 40px;
	min-height: 40px;
}

footer p{
	float: left;
	width: 50%;
	line-height: 16px;
	padding: 5px 20px;
	font-size: 12px;
	min-height: 40px;
}

footer p.designedBy{
	background: #454545;
	color: #e4e4e4;
}

footer p.designedBy span{
	background: #454545;
	color: #888;
}

footer a.ver-mas-footer{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	bottom: 0;
	background: #bfa966;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}

footer a.ver-mas-footer:hover{
	text-decoration: none;
}

footer a.ver-mas-footer.open::before{
	content: '-';
	color: #fff;
	font-size: 16px;
}

footer a.ver-mas-footer::after{
	content: '+';
	color: #fff;
	font-size: 16px;
}

footer a.ver-mas-footer.open::after{
	display: none;
}
