.bienvenidos {
	background-image: url('./assets/bg-bienvenidos.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 100px;
}

.bienvenidos .logo {
	width: 246px;
	height: 89px;
	margin: 0 auto;
	background: url('./assets/logo.png') no-repeat;
}

.bienvenidos .logo span{
	position: absolute;
	opacity: 0;
}

.bienvenidos .slogan {
	font-size: 25px;
	line-height: 32px;
	color: #fff;
	text-shadow: 0px 0px 15px #000;
	position: absolute;
	left: 100px;
	right: 100px;
	bottom: 200px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.bienvenidos .slogan span {
	font-family: 'museo500';
	display: inline-block;
	border-bottom: 3px solid #b1a06c;
}