/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}





ul.bjqs-controls.v-centered li a{
	background: url(./assets/arrows-slider.png);
	text-indent: -200px;
	overflow: hidden;
	cursor: pointer;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	width: 50px;
	height: 75px;
	left:-10px;
	background-position: 0px -40px;
	top: 39% !important;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
	width: 86px;
	height: 160px;
	right:-10px;
	background-position: -110px 0px;
}


ol.bjqs-markers{
	margin-top: 0;
}

ol.bjqs-markers li{
	display:inline-block;
	width: 12px;
	height: 12px;
	background: url(./assets/bullets-slider.png) -15px 0px;
	text-indent: -200px;
	overflow: hidden;
	cursor: pointer;
	margin-right: 2px;
}

ol.bjqs-markers li.active-marker{
	background-position: 0px 0px;
}

ul.bjqs li img{
	position: absolute;
	z-index: 0;
	top: 0;
}

ul.bjqs li .product-list{
	position: absolute;
	z-index: 10;
	top: 100px;
	left: 40px;
}

ul.bjqs li .product-list h2{
	font-weight: 700;
	font-size: 43px;
	line-height: 46px;
}

ul.bjqs li .product-list .price{
	font-weight: 300;
	font-size: 66px;
	line-height: 70px;
	color: #fff;
}


/***detalle producto***/

.productos.detalle .carousel{
	margin: 0 auto;
}

.productos.detalle ul.bjqs-controls.v-centered li a{
	background: url(./assets/arrows-slider-detalle.png) no-repeat;
	text-indent: -200px;
	overflow: hidden;
	cursor: pointer;
	width: 28px;
	height: 53px;
}

.productos.detalle ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:-30px;
	background-position: top left;
	top: 39% !important;
}

.productos.detalle ul.bjqs-controls.v-centered li.bjqs-next a{
	right:-30px;
	background-position: top right;
}