.costos-prospecticos {
	padding-left: 0;
	padding-right: 0;
	min-height: 300px;
}

.costos-prospecticos .peter, .costos-prospecticos .gary {
	float: left;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.costos-prospecticos .gary{
	width: 60vw;
	z-index: 0;
	background-image: url('./assets/gary.jpg');
}

.costos-prospecticos .gary .container-all {
	display: block;
	position: relative;
	z-index: 2;
	position: relative;
	top: 160px;
	width: 70%;
}

.costos-prospecticos .gary .container-text {
	text-align: right;
}

.costos-prospecticos .gary .container-text h3{
	text-align: right;
}


/* RIGHT */

.costos-prospecticos .peter {
	width: 40vw;
	background-image: url('./assets/peter.blur.jpg');
	background-position: 0 0px;
}


.costos-prospecticos .peter .content {
	position: relative;
	z-index: 2;
	top: 130px;
	margin: 0 auto;
	width: 70%;
	min-width: 300px;
}

.costos-prospecticos .peter .content a:hover {
	text-decoration: none;
}

/*.costos-prospecticos .peter h3 {

}*/

.costos-prospecticos .peter h3 span {
	display: block;
	padding: 20px 30px;
	font-family: 'museo700';
	font-size: 20px;
	background: #fff;
	color: #bfa966;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.costos-prospecticos .peter .content .icon-more {
	top: 50px;
	left: 29px;
}

.costos-prospecticos .peter .content a:hover .icon-more .square {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #bfa966;
}

.costos-prospecticos .peter .content a:hover .icon-more .text{
    color: #fff;
}

.costos-prospecticos .peter .content .name{
	font-family: 'museo700';
	font-size: 14px;
	color: #fff;
	text-align: right;
	margin-top: 5px;
}


@media (max-width: 1100px) {
	.costos-prospecticos .gary .container-all {
		width: 78%;
	}


}


@media (max-width: 720px) {

	.costos-prospecticos .gary .container-all{
		top: 50px;
	}

	.costos-prospecticos .gary {
		width: 100vw;
	}

	.costos-prospecticos .peter {
		display: none;
	}

	.costos-prospecticos .container-text > div {
		text-align: center;
		padding: 10px;
	}

	.costos-prospecticos .container-text > div h3{
		position: static;
		text-align: center !important;
	}

}