.gestion-del-conocimiento {
	padding-left: 0;
	padding-right: 0;
	min-height: 300px;
}

.gestion-del-conocimiento .gary,
.gestion-del-conocimiento .peter {
	float: left;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.gestion-del-conocimiento .peter {
	z-index: 0;
	width: 60vw;
	background-image: url('./assets/peter.jpg');
}

.gestion-del-conocimiento .peter .container {
	display: block;
	position: relative;
	z-index: 2;
	position: relative;
	left: 120px;
	top: 160px;
	width: 70%;
}

.gestion-del-conocimiento .peter .container-text {
	text-align: left;
}

.gestion-del-conocimiento .peter .container-text h3{
	text-align: left;
}


/* RIGHT */

.gestion-del-conocimiento .gary {
	width: 40vw;
	background-image: url('./assets/gary.blur.jpg');
	background-position: 0 0px;
}


.gestion-del-conocimiento .gary .content {
	position: relative;
	z-index: 2;
	top: 130px;
	margin: 0 auto;
	width: 70%;
	min-width: 300px;
}

.gestion-del-conocimiento .gary .content a:hover {
	text-decoration: none;
}

.gestion-del-conocimiento .gary h3 span {
	display: block;
	padding: 20px 30px;
	font-family: 'museo700';
	font-size: 20px;
	background: #fff;
	color: #bfa966;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}

.gestion-del-conocimiento .gary .content .icon-more {
	top: 50px;
	left: 29px;
}

.gestion-del-conocimiento .gary .content a:hover .icon-more .square {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #bfa966;
}

.gestion-del-conocimiento .gary .content a:hover .icon-more .text{
    color: #fff;
}

.gestion-del-conocimiento .gary .content .name{
	font-family: 'museo700';
	font-size: 14px;
	color: #fff;
	text-align: right;
	margin-top: 5px;
}

@media (max-width: 1100px) {
	.gestion-del-conocimiento .peter .container{
		left: 0;
		width: 100%;
	}
}

@media (max-width: 720px) {
	.gestion-del-conocimiento .peter {
		width: 100vw;
	}

	.gestion-del-conocimiento .gary {
		display: none;
	}
}