/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

http://html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    resize:none;
    outline:none;
}
li{list-style:none;}

strong{
	font-weight:bold;
}

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.DN{display:none;}


@font-face {
	font-family:"big_noodle_titling";
	src: url("../fonts/big_noodle_titling-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family:"big_noodle_titling_oblique";
	src: url("../fonts/big_noodle_titling_oblique-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling_oblique-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling_oblique-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling_oblique-webfont.svg#blaimim_-webfont") format("svg");
}


body{
	font: 11px/14px tahoma, arial, helvetica, sans-serif;
	color: #9b9b9b;
	background: #171717 url(../img/fd_body.jpg) center top repeat-y;
	overflow: hidden;
	overflow-y:auto;
}

.fd-degrade-bottom{
	background: url(../img/fd_degrade-bottom.png) bottom left repeat-x;
}

.fd-pattern{
	background:url(../img/fd_pattern.jpg) center top no-repeat;
}

.wrapper{
	width: 1028px;
	margin: 0 auto;
}
/*Header*/
header{
	overflow: hidden;
}

header h1 a{
	display:block;
	width: 220px;
	height: 63px;
	margin-right: 80px;
	background: url(../img/fd_logo-header.png) no-repeat;
	float: left;
	margin-top:39px;
}

header nav{
	overflow:hidden;
	float:left;
	position: relative;
	z-index: 50;
}

header nav li{
	float: left;
	margin-right:15px;
}

header nav li a{
	text-transform: uppercase;
	color:#918b8b;
	font-size: 21px;
	line-height: 23px;
	height:38px;
	display: block;
	padding-top:64px;
	text-align: center;
	font: 21px/23px big_noodle_titling_oblique;
	
}

header nav li a.active{
	background: url(../img/sp_nav.png) no-repeat;
}

header nav li a.active.home{
	background-position: 0 0;
	width: 83px
}

/*FIN HEADER*/



/*Footer*/

footer{
	overflow: hidden;
	clear:both;
	height: 84px;
	padding-top: 82px;
	background: url(../img/fd_footer.png) center top no-repeat;
}

footer h1 a{
	display: block;
	width: 128px;
	height: 38px;
	background: url(../img/fd_logo-footer.png) no-repeat;
	float: left;
	margin-left: 44px;
}

footer .wrapper > div {
	float:left;
	margin-left: 30px;
}

footer p{
	color:#fff;
	margin:4px 0;
}

footer ul{
	overflow: hidden;
}

footer li{
	float: left;
	padding-right: 10px;
	background: url(../img/fd_footer-separator.jpg) right no-repeat;
}

footer li a{
	color:#5d5656;
}

/*Fin Footer*/



/*Home*/

section.content .bloques-cont{
	overflow: hidden;
}

section.content .bloque{
	float: left;
	width:301px;
	margin-right: 60px;
	position: relative;
}

section.content .bloque.twitter{
	margin-right: 0;
	border-top: 2px solid #00aced;
	border-bottom: 2px solid #00aced;
	margin-top: 29px;
	padding: 10px 0;
}

section.content .bloque h1{
	font: 22px/24px big_noodle_titling_oblique;
	color: #fff;
	text-transform: uppercase;
	margin: 6px 0 10px;
}

section.content  .twitter h1{
	margin: 0 0 5px;
}

section.content .bloque p{
	margin-bottom: 10px;
}

section.content .bloque a{
	color: #b71a1f;
	font-weight: bold;
}

section.content .twits-container{
	border-bottom: 1px dotted #fff;
	padding: 5px 0;
}

section.content .twitter img{
	position: absolute;
	bottom:-58px;
	right: 20px;
}

/*FIn Home*/




/*Productos*/

.destacado{
	margin-top: 48px;
	position: relative;
	background: url(../img/fd_producto-destacado.png) center top no-repeat;
}

.productos .destacado{
	height: 368px;
}

.destacado h2,
.destacado img,
.destacado p{
	position: absolute;
}

.destacado h2{
	font: 40px/40px big_noodle_titling_oblique;
	text-transform: uppercase;
	color:#c02b2b;
	top: 90px;
	left:30px;
	z-index: 50;
}

.destacado h2 span{
	color:#fff;
}

.destacado p{
	font: 24px/26px big_noodle_titling_oblique;
	text-transform: uppercase;
	color:#fff;
	bottom: 28px;
	left:60px;
	z-index: 50;
}

.destacado p span{
	color:#4a0c0e;
}

.destacado img{
	z-index: 0;
	right:0;
	bottom:20px;
}

.produtos section.content .bloque{
	width:;
}

.produtos section.content .bloque h1{
	color: #c02b2b;
}

/*Fin productos*/





/*EMPRESA*/

.empresa .destacado{
	background: url(../img/fd_empresa-destacado.png) center top no-repeat;
	height: 290px;
}

.empresa .destacado img{
	bottom: -33px;
}

.empresa section.content .wrapper{
	width: 960px;
	margin: 0 auto;
}

.empresa section.content .bloque{
	min-height: 452px;
	margin-top: 30px;
}

.empresa section.content .bloque h1{
	color: #c02b2b;
	margin-bottom: 0;
}

.empresa section.content .bloque h2{
	color: #fff;
	margin-bottom: 25px;
}

.empresa section.content .bloque img{
	position: absolute;
	left: -30px;
	top: 0;
}

.empresa section.content .bloque > div{
	width:460px;
	margin-left: 500px;
}

/*EMPRESA*/





























