/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark

http://html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    resize:none;
    outline:none;
}
li{list-style:none;}

strong{
	font-weight:bold;
}

/*CLEARFIX*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

.DN{display:none;}


@font-face {
	font-family:"big_noodle_titling";
	src: url("../fonts/big_noodle_titling-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family:"big_noodle_titling_oblique";
	src: url("../fonts/big_noodle_titling_oblique-webfont.eot");
	src: local("?"),
	url("../fonts/big_noodle_titling_oblique-webfont.woof") format("woff"),
	url("../fonts/big_noodle_titling_oblique-webfont.ttf") format("truetype"),
	url("../fonts/big_noodle_titling_oblique-webfont.svg#blaimim_-webfont") format("svg");
}


body{
	font: 11px/14px tahoma, arial, helvetica, sans-serif;
	color: #9b9b9b;
	background: #171717 url(../img/fd_body.jpg) center top repeat-y;
	overflow: hidden;
	overflow-y:auto;
}

.fd-degrade-bottom{
	background: url(../img/fd_degrade-bottom.png) bottom left repeat-x;
}

.fd-pattern{
	display: none;
	background:url(../img/fd_pattern.jpg) center top no-repeat;
}



.wrapper{
	width: 960px;
	margin: 0 auto;
}


/*Header*/
header{
	overflow: hidden;
}

header .wrapper{
	position: relative;
}

header h1{

}

header h1 a{
	display:block;
	width: 220px;
	height: 63px;
	margin-right: 80px;
	background: url(../img/fd_logo-header.png) no-repeat;
	float: left;
	margin-top:39px;
}

header nav{
	overflow:hidden;
	position: relative;
	z-index: 50;
	position: absolute;
	left: 300px;
	top: 0;
}

header nav li{
	float: left;
}

header nav li a{
	text-transform: uppercase;
	color:#918b8b;
	line-height: 23px;
	margin-right:15px;
	height:38px;
	display: block;
	padding-top:64px;
	text-align: center;
	font: 21px/23px big_noodle_titling_oblique;
}

header nav li .active span{
	display: inline-block;
	margin-left: -5px;
}

header nav li a.active.home{
	background: url(../img/fd_nav-home.png) no-repeat;
	width: 83px
}

header nav li a.active.empresa{
	background: url(../img/fd_nav-empresa.png) no-repeat;
	width: 93px
}

header nav li a.active.donde-comprar{
	background: url(../img/fd_nav-dnd-comprar.png) no-repeat;
	width: 141px
}

header nav li a.active.contacto,
header nav li a.active.producto{
	background: url(../img/fd_nav-contacto.png) no-repeat;
	width: 103px
}

/*FIN HEADER*/




/*Footer*/

footer{
	overflow: hidden;
	clear:both;
	height: 84px;
	padding-top: 82px;
	background: url(../img/fd_footer.png) center top no-repeat;
}

footer h1 a{
	display: block;
	width: 128px;
	height: 38px;
	background: url(../img/fd_logo-footer.png) no-repeat;
	float: left;
	margin-left: 44px;
}

footer .wrapper > div {
	float:left;
	margin-left: 30px;
}

footer p{
	color:#fff;
	margin:4px 0;
}

footer ul{
	overflow: hidden;
}

footer li{
	float: left;
	padding-right: 10px;
	background: url(../img/fd_footer-separator.jpg) right no-repeat;
}

footer li a{
	color:#5d5656;
}

/*Fin Footer*/



/*Home*/

.galeria-cont{
	position:relative;
	height: 521px;
	width:1028px;
	margin:0 auto;
}

section.content .bloque{
	float: left;
	position: relative;
}

.home section.content .bloque{
	width:301px;
	margin-right: 28px;
}

section.content .bloque.twitter{
	margin-right: 0;
	border-top: 2px solid #00aced;
	border-bottom: 2px solid #00aced;
	margin-top: 29px;
	padding: 10px 0;
	height: 183px;
}

section.content .bloque h1{
	font-family: big_noodle_titling_oblique;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 24px;
}

.home section.content .bloque h1{
	margin: 6px 0 10px;
	color: #fff;

}

section.content .bloque h2{
	color:#fff;
	margin-bottom: 20px;
}

section.content .bloque.twitter h1{
	margin: 0 0 5px;
}

section.content .bloque p{
	margin-bottom: 10px;
}

section.content .bloque a{
	color: #b71a1f;
	font-weight: bold;
}

section.content .bloque.twitter a{
	color: #00aced;
}

section.content .twitter img{
	position: absolute;
	bottom:-58px;
	right: 20px;
	z-index: 10;
}

/*FIn Home*/




/*Productos*/

.productos .fd-pattern{
	background:url(../img/fd_pattern-producto.jpg) center top no-repeat;
}

.destacado{
	width: 1028px;
	margin: 48px auto 0;
	position: relative;
	background: url(../img/fd_producto-destacado.png) center top no-repeat;
}

.productos .destacado{
	height: 368px;
}

.destacado h2,
.destacado img,
.destacado p{
	position: absolute;
}

.destacado h2{
	font: 40px/40px big_noodle_titling_oblique;
	text-transform: uppercase;
	color:#c02b2b;
	top: 90px;
	left:30px;
	z-index: 50;
}

.destacado h2 span{
	color:#fff;
}

.destacado p{
	font: 24px/26px big_noodle_titling_oblique;
	text-transform: uppercase;
	color:#fff;
	bottom: 28px;
	left:60px;
	z-index: 50;
}

.destacado p span{
	color:#4a0c0e;
}

.destacado img{
	z-index: 0;
	right:0;
	bottom:20px;
}

.productos section.content .bloques-cont{
	overflow: visible;
}

.productos section.content .bloque.bloque3{
	width: left;
	width: 462px;
}

.productos section.content .bloque.bloque4{
	float: right;
	width: 462px;
}

.productos section.content .bloque.bloque4 img{
	top: 0;
	position: absolute;
}

.productos section.content .bloque.bloque4 > div{
	margin-top: 280px;
}

.productos section.content .bloque.absolute{
	width: 100%;
}

.productos section.content .bloque.absolute div{
	width: 542px;
}

.productos section.content .bloque.absolute img{
	/*position: absolute;*/
}

.productos section.content .bloque.absolute img.right{
	float: right;
}

.productos section.content .bloque.absolute img.left{
	float: left;
}

.productos section.content .bloque.absolute > div.left{
	float: left;
	margin-top: 87px;
}

.productos section.content .bloque.absolute div.right{
	float: right;
	margin-top: 100px;
}

.productos section.content .bloque h1{
	color: #c02b2b;
}

.productos section.content .bloques-cont.separator-content{
	background: url(../img/fd_productos-separator-bottom) center bottom no-repeat;
	padding-bottom: 30px;
}

.productos section.content .bloques-cont.bottom{
	clear:both;
}

.productos section.content .bloques-cont.bottom .bloque{
	width: 220px;
	height: 248px;
	float: left;
	margin-right: 25px;
}

.productos section.content .bloques-cont.bottom .bloque1{
	background: url(../img/fd_productos-bloque-bottom1.png) center bottom no-repeat;
}

.productos section.content .bloques-cont.bottom .bloque2{
	background: url(../img/fd_productos-bloque-bottom2.png) center bottom no-repeat;
}

.productos section.content .bloques-cont.bottom .bloque3{
	background: url(../img/fd_productos-bloque-bottom3.png) center bottom no-repeat;
}

.productos section.content .bloques-cont.bottom .bloque4{
	background: url(../img/fd_productos-bloque-bottom4.png) center bottom no-repeat;
	margin-right: 0;
}

.productos section.content .bloques-cont.bottom .bloque > div{
	margin-top: 172px;
	text-align: center;
	padding: 0 10px;
}

.productos section.content .bloques-cont.bottom .bloque > div h1{
	color:#fff;
}

/*Fin productos*/





/*EMPRESA*/

.empresa .fd-pattern{
	background: url(../img/fd_pattern-empresa.jpg) center top no-repeat;
}

.empresa .destacado{
	background: url(../img/fd_empresa-destacado.png) center top no-repeat;
	height: 290px;
}

.empresa .destacado img{
	bottom: -33px;
}

.empresa section.content .bloque{
	min-height: 452px;
	margin-top: 30px;
}

.empresa section.content .bloque h1{
	color: #c02b2b;
	margin-bottom: 0;
}

.empresa section.content .bloque h2{
	color: #fff;
	margin-bottom: 25px;
}

.empresa section.content .bloque img{
	position: absolute;
	left: -30px;
	top: 0;
}

.empresa section.content .bloque > div{
	width:460px;
	margin-left: 500px;
}

.empresa section.content .bloque p span{
	text-transform: uppercase;
	color: #c02b2b;
	font-weight: bold;
}

/*EMPRESA*/


/*Donde Comprar*/

.donde-comprar .fd-pattern{
	background: url(../img/fd_pattern-empresa.jpg) center top no-repeat;
}

.donde-comprar .destacado{
	background: url(../img/fd_empresa-destacado.png) center top no-repeat;
	height: 290px;
	margin-bottom: 30px;
}

.donde-comprar section.content .bloques-cont{
	overflow: visible
}

.donde-comprar section.content .bloque{
	float: none;
}

.donde-comprar section.content .bloque img{
	float: right;
}

.donde-comprar section.content .bloque > div{
	float: left;
	width: 320px;
}

.donde-comprar section.content .bloque > div h1{
	color: #c02b2b;
}

.donde-comprar section.content .bloque > div ul{
	padding: 14px 0;
}

.donde-comprar section.content .bloque > div li,
.donde-comprar section.content .bloque > div li a{
	color: #fff;
	font: 40px/40px big_noodle_titling_oblique;
	text-transform: uppercase;
	display: block;
}

.donde-comprar section.content .bloque > div li{
	padding-left: 33px;
}

.donde-comprar section.content .bloque > div li.contacto{
	background: url(../img/fd_donde-comprar-mail.png) left 4px no-repeat;
}

.donde-comprar section.content .bloque > div li.telefono{
	background: url(../img/fd_donde-comprar-telefono.png) left 0 no-repeat;
}

.donde-comprar section.content form,
.donde-comprar section.content input{
	position: relative;
}

.donde-comprar section.content form{
	background: url(../img/fd_donde-comprar-form.png) 0 0 no-repeat;
	height: 57px;
}

.donde-comprar section.content input[type=text],
.donde-comprar section.content textarea{
	height: 35px;
	display: inline-block;
	font-size: 11px;
	border: 1px solid #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#7e7e7e;
	padding: 0 5px;
	margin-top: 8px;
	background: url(../img/fd_inputs.jpg) top repeat-x;
	float: left;
}

.donde-comprar section.content input[type=text].error,
.donde-comprar section.content textarea.error{
	border-color: #cc0000;
}

.donde-comprar section.content input.mail{
	width: 59px;
	z-index: 10;
	margin-right: 5px;
}

.donde-comprar section.content input.donde-comprar{
	width: 180px;
	z-index: 10;
}

.donde-comprar section.content input.btn-submit{
	width: 78px;
	height: 57px;
	border: none;
	background: url(../img/fd_donde-comprar-submit.png) no-repeat;
	display: block;
	position: absolute;
	z-index: 0;
	right: 0;
	top:0;
	cursor: pointer;
}


/*Fin donde comprar*/



/* contacto */

.contacto .destacado{
	background: url(../img/fd_contacto-destacado.png) center top no-repeat;
	height: 108px;
	margin-bottom: 30px;
}

.contacto .destacado h2{
	top: 38px;
}

.contacto section.content form{
	background: url(../img/fd_contacto-form.png) 14px 0 no-repeat;
	margin-bottom: 30px;
}

.contacto section.content input.nombre{
	width: 139px;
	z-index: 10;
	margin-right: 10px;
}

.contacto section.content input.mail{
	width: 149px;
	z-index: 10;
	margin-right: 10px;
}

.contacto section.content textarea{
	width: 559px;
	z-index: 10;
	position: relative;
	z-index: 10;
	resize:none;
	overflow: hidden;
}

#map{
	width: 619px;
	height: 226px;
	float: right;
}

.contacto section.content ul.social-media{
	overflow: hidden;
}

.contacto section.content ul.social-media li{
	float: left;
	padding-left: 0;
	margin-right: 22px;
}

.contacto section.content ul.social-media a{
	display: block;
	height: 34px;
}

.contacto section.content .bloque a.tw-contact{
	width: 41px;
	background: url(../img/fd_contact-tw.png) no-repeat;
}

.contacto section.content .bloque a.fb-contact{
	width: 120px;
	background: url(../img/fd_contact-fb.png) no-repeat;
}



#contentTweeter{
	height: 100px;
	width: 100%;
	position: relative;
}

.tweets{
	padding: 0 0;
	margin-top: 0;
	overflow: hidden;
}

.tweets li{
	line-height: 16px;
	border-bottom: 1px dotted #fff;
	padding: 5px 0;
}

.tweets li span.title{
	color: #fff;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 11px;
}

.tweets li span.title a{
	color: #fff;
	text-decoration: none;
}

.title-twit{
	display: inline-block;
	margin-top: 16px;
}

.tweets li span.date{
	position: absolute;
	right: 0;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.tweets li a{
	color: #fff;
}