/* HTML RESET
--------------------------------------------------- */

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1;font-family:arial, helvetica, sans-serif;font-weight:400;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0;text-decoration:none; text-decoration: none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;borde''''''''r-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;resize:none;outline:0}li{list-style:none}strong{font-weight:700}
a:focus {
    text-decoration: none;
    outline: none;
}


/* Clearfix
-------------------------------------------------- */

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }


/* Fonts
-------------------------------------------------- */

@font-face {
    font-family: 'museo300';
    src: url('./../fonts/museo300-regular-webfont.eot');
    src: url('./../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/museo300-regular-webfont.woff2') format('woff2'),
         url('./../fonts/museo300-regular-webfont.woff') format('woff'),
         url('./../fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('./../fonts/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url('./../fonts/museo500-regular-webfont.eot');
    src: url('./../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/museo500-regular-webfont.woff2') format('woff2'),
         url('./../fonts/museo500-regular-webfont.woff') format('woff'),
         url('./../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../../fonts/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('./../fonts/museo700-regular-webfont.eot');
    src: url('./../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/museo700-regular-webfont.woff2') format('woff2'),
         url('./../fonts/museo700-regular-webfont.woff') format('woff'),
         url('./../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('./../fonts/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END Fonts
-------------------------------------------------- */



/* Utils
-------------------------------------------------- */

.DN { display: none;}
.left { float: left; }
.right {float: right;}


/* End Utils
-------------------------------------------------- */


/* Globals
-------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
    color: #808080;
}

:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
    color: #808080;
}

::-moz-placeholder {
 /* Mozilla Firefox 19+ */
    color: #808080;
}

:-ms-input-placeholder {
 /* Internet Explorer 10+ */
    color: #808080;
}

body {
    font-family: "museo300";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #838383;
    -webkit-font-smoothing: antialiased;
}

.logo {
	width: 246px;
	height: 89px;
	left: 50%;
	top:30px;
	margin-left: -123px;
	background: url('./assets/logo.png') no-repeat;
	position: absolute;
	z-index: 5;
}

.logo-internas {
    width: 186px;
    height: 66px;
    left: 50%;
    top: 30px;
    margin-left: -93px;
    background: url('./assets/logo-internas-black.png') no-repeat;
    position: absolute;
    z-index: 5;
}

.logo span{
	position: absolute;
	opacity: 0;
}

.sections {
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    position: relative;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.logo-20-years {
    top: 50px;
    left: 80px;
    position: absolute;
    z-index: 5;
}

.container {
	display: table;
	vertical-align: middle;
	width: 55%;
	height: 100%;
}

.container-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.container-text > div {
	border: 1px solid #fff;
	background: rgba(255,255,255,0.2);
	padding: 55px 50px;
	position: relative;
}

.container-text h3 {
	text-align: center;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	text-transform: uppercase;
}

.container-text h3 span {
	display: inline-block;
	background: #bfa966;
	padding: 20px 30px;
	font-family: 'museo700';
	color: #fff;
	font-size: 20px;
}

.container-text p {
	font-size: 16px;
	line-height: 26px;
	font-family: 'museo300';
	margin-bottom: 20px;
}

.container-text p:last-child {
	margin-bottom: 0;
}

.container-text p span, .container-text p a {
	font-family: 'museo500';
}
.container-text p a {
	text-decoration: underline;
}

.squares-container{
    position: absolute;
    z-index: 5;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -50px;
}

.link-square {
    color: #bfa966;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin: 0 20px;
    font-size: 12px;

}

.link-square:hover {
    color: #fff;
    text-decoration: none;
}

.square-rotate {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    width: 90px;
    height: 90px;
}

.link-square:hover .square-rotate {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    background: #bfa966;
}

.link-square:hover .square-rotate.no-animate {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}

.link-square span {
    display: block;
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 0;
    right: 0;
    top: 33%;
    line-height: 16px;
}

.link-square strong{
    font-family: 'museo700';
}


@-webkit-keyframes pulsate3 {
    0% {border-color: #b3b3b3}
    50% {border-color: #aaa}
    100% {border-color: #fff}
}
@-moz-keyframes pulsate3 {
    0% {border-color: #b3b3b3}
    50% {border-color: #aaa}
    100% {border-color: #fff}
}
@keyframes pulsate3 {
    0% {border-color: #b3b3b3}
    50% {border-color: #aaa}
    100% {border-color: #fff}
}


@-webkit-keyframes pulsate2 {
    0% {border-color: #aaa}
    50% {border-color: #b3b3b3}
    100% {border-color: #fff}
}
@-moz-keyframes pulsate2 {
    0% {border-color: #aaa}
    50% {border-color: #b3b3b3}
    100% {border-color: #fff}
}
@keyframes pulsate2 {
    0% {border-color: #aaa}
    50% {border-color: #b3b3b3}
    100% {border-color: #fff}
}


@-webkit-keyframes pulsate1 {
    0% {border-color: #fff}
    50% {border-color: #aaa}
    100% {border-color: #b3b3b3}
}
@-moz-keyframes pulsate1 {
    0% {border-color: #fff}
    50% {border-color: #aaa}
    100% {border-color: #b3b3b3}
}
@keyframes pulsate1 {
    0% {border-color: #fff}
    50% {border-color: #aaa}
    100% {border-color: #b3b3b3}
}



.icon-to-top {
    width: 15px;
    height: 25px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -8px;
    cursor: pointer;
    z-index: 2;
}

.icon-to-top > div{
    border-top: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    width: 11px;
    height: 11px;
    margin-top: -3px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: auto;
    margin-right: auto;
}

.icon-to-top > div.one{
    -webkit-animation: pulsate1 1s linear infinite;
    -moz-animation: pulsate1 1s linear infinite;
    animation: pulsate1 1s linear infinite;
}

.icon-to-top > div.two{
    -webkit-animation: pulsate2 1s linear infinite;
    -moz-animation: pulsate2 1s linear infinite;
    animation: pulsate2 1s linear infinite;
}

.icon-to-top > div.three{
    -webkit-animation: pulsate3 1s linear infinite;
    -moz-animation: pulsate3 1s linear infinite;
    animation: pulsate3 1s linear infinite;
}

.icon-more {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
}

.icon-more:hover {
    text-decoration: none;
}

.icon-more .square{
    background: #bfa966;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 20px #666;
}

.icon-more .text {
    color: #fff;
    position: relative;
    z-index: 1;
}

.icon-more:hover .square{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/** icon more white  */
.icon-more.white .square {
    background: #fff;
}

.icon-more.white .text {
    color: #bfa966;
}

.icon-more.white:hover .square{
    background: #bfa966;
}

.icon-more.white:hover .text {
    color: #fff;
}


/* END Globals
-------------------------------------------------- */
