/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/

/*
 * Reset
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight: normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;resize:none;outline:0}li{list-style:none}strong{font-weight:bold}


/*
 * Fonts
*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 17, 2012 */

@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/sansation_bold-webfont.eot');
    src: url('../fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_bold-webfont.woff') format('woff'),
         url('../fonts/sansation_bold-webfont.ttf') format('truetype'),
         url('../fonts/sansation_bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationlight';
    src: url('../fonts/sansation_light-webfont.eot');
    src: url('../fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_light-webfont.woff') format('woff'),
         url('../fonts/sansation_light-webfont.ttf') format('truetype'),
         url('../fonts/sansation_light-webfont.svg#sansationlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('../fonts/sansation_regular-webfont.eot');
    src: url('../fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation_regular-webfont.woff') format('woff'),
         url('../fonts/sansation_regular-webfont.ttf') format('truetype'),
         url('../fonts/sansation_regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bickhamscriptpro';
    src: url('../fonts/bickhamscriptpro.eot');
    src: url('../fonts/bickhamscriptpro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bickhamscriptpro.woff') format('woff'),
         url('../fonts/bickhamscriptpro.ttf') format('truetype'),
         url('../fonts/bickhamscriptpro.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * End Fonts
*/

/*
 * Clearfix
*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


/*
 * End Clearfix
*/

/*html, body{
	overflow: hidden;
}*/

body{
	background: #d9d9d9 url(./assets/background.jpg) repeat-y;
	position: relative;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #545454;
	height: 7000px;
}

.hide{
	display: none;
}

.show{
	display: inherit;
}

a:hover{
	opacity: .9;
}


/*
 * Placeholders
*/
::-webkit-input-placeholder  { color:#9a9a9a; }
input:-moz-placeholder { color:#9a9a9a; }
:-ms-input-placeholder { color: #9a9a9a; }
input.placeholder{ color: #9a9a9a; }

/*
 * parallax
*/
.parallax{
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
}

.parallax img{
	position: relative;
	margin-left: 17px;
}

.humo-1{
	/*z-index: 0;*/
}

.humo-2{
	/*z-index: 1;*/
	bottom: 140px;
}


.circulo{
	background: url("./assets/circulo-destacado.png") top center;
	text-align: center;
	color: white;
	width: 150px;
	height: 45px;
	text-shadow: 1px 1px 1px #7A6237;
	font-size: 13px;
	line-height: 20px;
	font-family: "sansationbold";
	padding: 65px 10px;
	display: block;
}

.circulo span{
	text-transform: uppercase;
	font-size: 18px;
	font-family: "sansationregular";
	display: block;
}


/*
 * Secciones
*/
.contenedor{
	width: 960px;
	margin: 0 auto;
}

section{
	width: 960px;
	height: 747px;
	position: absolute;
	padding-top: 50px;
}

.tituloSeccion h2{
	font-family: "sansationbold";
	font-size: 40px;
	color: #a8a8a8;
	line-height: 45px;
}

.tituloSeccion h3{
	font-size: 50px;
	line-height: 50px;
	position: relative;
	top: -15px;
	font-family: "bickhamscriptpro";
	color: #737373;
}



/*
 *Ver datos de contacto
*/

.ver-datos{
	text-align: right;
	font-size: 14px;
	font-family: "sansationlight";
	display: block;
	width: 100px;
	height: 55px;
	background: url("./assets/telefono.png") no-repeat top right;
	padding-right: 85px;
	color: #737373;
	line-height: 16px;
	padding-top: 12px;
	position: absolute;
	top: 30px;
	right: -15px;
}

.ver-datos span{
	display: block;
	font-family: "sansationbold";
}








/*
 * Menu inferior
*/
.contenedorMenu{
	background: url("./assets/nav.png") top center;
	height: 169px;
	position: fixed;
	bottom: 44px;
	left: 0;
	right: 0;
	z-index: 2;
}

.contenedorMenu .contenedor{
	height: 169px;
	position: relative;
}

/*
 * Logo
*/
.contenedorMenu header{
	position: absolute;
	z-index: 1;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 25px;
}

.contenedorMenu header h1{
	width: 114px;
	height: 108px;
	background: url("./assets/logo.png") top left;
	display: inline-block;
}


/*
 * Nav
*/

nav ul{
	position: absolute;
	bottom: 0;
	z-index: 3;
}

nav ul.left{
	left: 90px;
}

nav ul.right{
	right: 90px;
}

nav ul > li{
	display: inline-block;
	margin-right: 30px;
}

nav ul > li a{
	color: #808080;
	text-shadow: 1px 1px 1px #fff;
	font-size: 13px;
	font-family: "sansationbold";
	text-transform: uppercase;
	padding-bottom: 30px;
	display: inline-block;
}

nav ul > li a.active{
	background: url("./assets/icon-active.png") bottom center no-repeat;
}




/*
 * Footer
*/
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 45px;
	background: black;
	z-index: 2;
	color: #7a7a7a;
	font-size: 10px;
	text-align: center;
	background: rgb(47,47,47); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(47,47,47,1) 0%, rgba(80,80,80,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,47,47,1)), color-stop(100%,rgba(80,80,80,1)));
	background: -webkit-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(80,80,80,1) 100%);
	background: -o-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(80,80,80,1) 100%);
	background: -ms-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(80,80,80,1) 100%);
	background: linear-gradient(to bottom,  rgba(47,47,47,1) 0%,rgba(80,80,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#505050',GradientType=0);
}

footer p{
	line-height: 45px;
}








/****** HOME *****/

#home{
	bottom: 0;
	background: url("./assets/background-home.png") no-repeat top left;
}

#home header {
	position: absolute;
	right: 0;
	top: 200px;
}

#home header h2{
	color: #737373;
	font-size: 40px;
	font-family: "sansationbold";
	line-height: 40px;
	width: 415px;
	margin-bottom: 15px;
}

#home header a.conoceDelicias{
	color: #b9944d;
	font-size: 20px;
	font-family: "sansationbold";
	background: url("./assets/flechas.png") no-repeat bottom left;
	display: inline-block;
	line-height: 32px;
	padding-left: 38px;
}


#home .galeria{
	position: relative;
	width: 640px;
	height: 630px;
	top: 20px;
	left: -130px;
}

#home .galeria article{
	position: absolute;
	top: 314px;
	width: 295px;
	left: 170px;
}

#home .galeria > ul > li{
	position: absolute;
}


#home .entregasProgramadas{
	width: 175px;
	height: 210px;
	padding: 70px 0 0 105px;
	background: url("./assets/entregas-programadas.png") no-repeat top right;
	font-family: "sansationbold";
	position: absolute;
	bottom: 55px;
	right: -15px;
}

#home .entregasProgramadas h3{
	color: #fff;
	font-size: 20px;
	line-height: 23px;
	width: 200px;
	text-shadow: 1px 1px 1px #7a6237;
	margin-bottom: 15px;
}

#home .entregasProgramadas a{
	color: #7a6237;
	font-size: 18px;
	text-shadow: 1px 1px 1px #fff;
	position: relative;
}

#home .entregasProgramadas .auto{
	background: url("./assets/auto.png") no-repeat;
	width: 200px;
	height: 150px;
	display: block;
	position: absolute;
	left: -80px;
	top: 73px;
	z-index: 2;
}

#home .contacto{
	width: 420px;
	position: absolute;
	right: 0;
	top: 40px;
	color: #737373;
}

#home .contacto dl{
	overflow: hidden;
	float: left;
	margin-left: 20px;
}

#home .contacto dt{
	font-family: "sansationbold";
	font-size: 26px;
	text-transform: uppercase;
	background: url("./assets/contacto-ar.gif") no-repeat bottom left;
	padding-bottom: 3px;
	line-height: 27px;
	float: left;
	clear: both;
	margin-right: 10px;
}

#home .contacto dt.uy{
	background: url("./assets/contacto-uy.gif") no-repeat bottom left;
}

#home .contacto dt,
#home .contacto dd{
	margin-bottom: 20px;
}

#home .contacto dd{
	font-family: "sansationregular";
	font-size: 10px;
	line-height: 12px;
	float: left;
}




/*
 * Historia
*/

#historia{
	bottom: 1120px;
}

#historia .tituloSeccion{
	margin-top: 110px;
}

#historia .tituloSeccion h3{
	margin-left: 55px;
}

#historia .txt{
	width: 375px;
	padding-right: 35px;
	margin-top: 22px;
	height: 250px;
	overflow: auto;
	position: relative;
	z-index: 1;
}

#historia .txt p{
	margin-bottom: 20px;
}

#historia .reunion{
	position: absolute;
	right: -100px;
	top: 70px;
	background: url("./assets/background-pida-turno.png") no-repeat top left;
	width: 730px;
	height: 675px;
}

#historia .reunion a{
	position: absolute;
	top: 250px;
	left: 155px;
}


/*
 * Delicias
*/

#delicias{
	bottom: 2240px;
}

#delicias .contenedorTexto{
	position: absolute;
	top: 100px;
	right: 0;
	width: 360px;
}

#delicias .tituloSeccion h3{
	margin-left: 60px;
}

#delicias .txt{
	width: 325px;
	padding-right: 35px;
	margin-top: 22px;
	float: right;
	height: 220px;
	overflow: auto;
}

#delicias .txt p{
	margin-bottom: 20px;
}

#delicias .galeria{
	position: absolute;
	left: -80px;
	top: 0;
}


/*
 * Fotos
*/

#fotos{
	background: url("./assets/background-fotos.png") no-repeat;
	background-size:  100% auto;
	bottom: 3360px;
}

#fotos .tituloSeccion{
	margin-top: 10px;
}

#fotos .tituloSeccion h3{
	margin-left: 80px;
}

#fotos .galeria{
	margin-top: 90px;
}

#fotos .galeria ul{
	overflow: hidden;
	margin-left: 25px;
}

#fotos .galeria li{
	float: left;
	margin-right: 10px;
}



/*
 * Cocina
*/



#cocina{
	bottom: 4480px;
	background: url("./assets/background-fotos.png") no-repeat;
	background-size:  100% auto;
}

#cocina .tituloSeccion{
	margin-top: 10px;
}

#cocina .tituloSeccion h3{
	margin-left: 80px;
}

#cocina .galeria{
	margin-top: 90px;
}

#cocina .galeria ul{
	overflow: hidden;
	width: 890px;
	margin: 0 auto;
}

#cocina .galeria li{
	float: left;
	margin-right: 10px;
}


/*
 * Contacto
*/

#contacto{
	bottom: 5600px;
	background: url("./assets/background-contacto.png") no-repeat top right;
}

#contacto .txt{
	width: 420px;
}

#contacto .tituloSeccion{
	margin-top: 20px;
}

#contacto .tituloSeccion h3{
	margin-left: 50px;
}

#contacto .intro{
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding-right: 70px;
	color: #8f8d8d;
	background: url("./assets/separador-contacto.png") no-repeat bottom left;
}

#contacto .contacto{
	color: #737373;
	/*overflow: hidden;*/
}

#contacto .contacto dl{
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

#contacto .contacto dt{
	font-family: "sansationbold";
	font-size: 26px;
	text-transform: uppercase;
	background: url("./assets/contacto-ar.gif") no-repeat bottom left;
	padding-bottom: 3px;
	line-height: 27px;
	float: left;
	clear: both;
	margin-right: 10px;
}

#contacto .contacto dt.uy{
	background: url("./assets/contacto-uy.gif") no-repeat bottom left;
}

#contacto .contacto dt,
#contacto .contacto dd{
	margin-bottom: 20px;
}

#contacto .contacto dd{
	font-family: "sansationregular";
	font-size: 10px;
	line-height: 12px;
	float: left;
}

#contacto form{
	position: relative;
	clear: both;
}

#contacto form p{
	position: relative;
}

#contacto form p span{
	position: absolute;
	left: -15px;
	top: 4px;
	color: #cda75b;
}

#contacto form input.text, #contacto form textarea{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fcfcfc));
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#fcfcfc 100%);
	background: -o-linear-gradient(top, #f3f3f3 0%,#fcfcfc 100%);
	background: -ms-linear-gradient(top, #f3f3f3 0%,#fcfcfc 100%);
	background: linear-gradient(to bottom, #f3f3f3 0%,#fcfcfc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fcfcfc',GradientType=0);
	box-shadow: 0px 0px 15px #CCC;
	width: 355px;
	height: 30px;
	margin-bottom: 8px;
}

#contacto form textarea{
	height: 100px;
	padding-top: 10px;
}

#contacto .circulo.enviar{
	border: none;
	position: absolute;
	right: -30px;
	bottom: -20px;
	width: 170px;
	height: 174px;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}


#contacto form input.text.error, #contacto form textarea.error{
	border: 1px solid #c00;
}

/* MediaQuerys */
@media only screen and (max-height: 850px){

	section{
		padding-top: 20px;
	}

	/*
	#home .entregasProgramadas{
		bottom: 140px;
	}*/

}