/* HTML RESET
--------------------------------------------------- */

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1;font-family:arial, helvetica, sans-serif;font-weight:400;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0;text-decoration:none; text-decoration: none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;borde''''''''r-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;resize:none;outline:0}li{list-style:none}strong{font-weight:700}



/* Clearfix
-------------------------------------------------- */

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }


/* Fonts
-------------------------------------------------- */

@font-face {
    font-family: 'museo300';
    src: url('museo300-regular-webfont.eot');
    src: url('museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo300-regular-webfont.woff2') format('woff2'),
         url('museo300-regular-webfont.woff') format('woff'),
         url('museo300-regular-webfont.ttf') format('truetype'),
         url('museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url('museo500-regular-webfont.eot');
    src: url('museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo500-regular-webfont.woff2') format('woff2'),
         url('museo500-regular-webfont.woff') format('woff'),
         url('museo500-regular-webfont.ttf') format('truetype'),
         url('museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('museo700-regular-webfont.eot');
    src: url('museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo700-regular-webfont.woff2') format('woff2'),
         url('museo700-regular-webfont.woff') format('woff'),
         url('museo700-regular-webfont.ttf') format('truetype'),
         url('museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END Fonts
-------------------------------------------------- */



/* Utils
-------------------------------------------------- */

.DN { display: none;}
.left { float: left; }
.right {float: right;}


/* End Utils
-------------------------------------------------- */


/* Globals
-------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
    color: #808080;
}

:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
    color: #808080;
}

::-moz-placeholder {
 /* Mozilla Firefox 19+ */
    color: #808080;
}

:-ms-input-placeholder {
 /* Internet Explorer 10+ */
    color: #808080;
}

body {
    font-family: "museo300";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #838383;
    -webkit-font-smoothing: antialiased;
}

.sections {
    height: 100vh;
    position: relative;
}


/* END Globals
-------------------------------------------------- */
