.hasta-donde-lo-podemos-llegar {
	background-image: url('./assets/bg-hasta-donde-los-podemos-llevar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hasta-donde-lo-podemos-llegar .container {
	display: table;
	vertical-align: middle;
	width: 55%;
	height: 100%;
}

.hasta-donde-lo-podemos-llegar .container-text {
	display: table-cell;
	vertical-align: middle;
}

.hasta-donde-lo-podemos-llegar .container-text > div {
	border: 1px solid #fff;
	background: rgba(255,255,255,0.2);
	padding: 55px 50px;
	position: relative;
}

.hasta-donde-lo-podemos-llegar .container-text h3 {
	text-align: center;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
	text-transform: uppercase;
}

.hasta-donde-lo-podemos-llegar .container-text h3 span {
	display: inline-block;
	background: #bfa966;
	padding: 20px 30px;
	font-family: 'museo700';
	color: #fff;
	font-size: 20px;
}

.hasta-donde-lo-podemos-llegar .container-text p {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	font-family: 'museo300';
}

.hasta-donde-lo-podemos-llegar .container-text p span {
	font-family: 'museo500';
	color: #565656;
}