.modals {
	position: fixed;
	z-index: 998;
	display: none;
}

.modal-overlay {
	background: rgba(0,0,0,0.8);
	z-index: 995;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	display: none;
}

.modals .icon-more {
	width: 35px;
	height: 35px;
	top: 40px;
	right: 31px;
	cursor: pointer;
}

.modals .icon-more .text {
	line-height: 35px;
	font-size: 22px;
	font-family: 'museo500';
}

.modal-teoria {
	top: 50%;
	margin-top: -180px;
	left: 50%;
	margin-left: -180px;
	height: 360px;
	width: 360px;
	padding: 30px;
}

.modal-teoria .bg {
	background-color: #fff;
	-moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-teoria-dorado .bg{
	background-color: #bfa966;
}

.modal-teoria .content {
	text-align: center;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 20px;
	padding: 20px;
}

.modal-teoria .content h3 {
	font-family: 'museo300';
	font-size: 25px;
	line-height: 26px;
	color:#bfa966;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.modal-teoria .content p {
	font-size: 15px;
	line-height: 20px;
	color: #3f3f3f;
}

.modal-teoria-dorado .content h3 {
	color: #fff;
}


/* Modals en la Practica **/

.modal-practica {
	top: 50%;
	margin-top: -233px;
	left: 50%;
	margin-left: -425px;
	height: 467px;
	width: 871px;
}

.modal-practica .content {
	text-align: center;
}

.modal-practica .icon-more {
	right: -18px;
	top: -19px;
}


/* Modals en somos salazar **/
.modal-somos-salazar {
	width: 866px;
	height: 254px;
	top: 50%;
	left: 50%;
	margin-top: -127px;
	margin-left: -433px;
	padding: 30px;
	background: #d4d4d4;
}

.modal-somos-salazar .content {
	padding: 47px 38px 0 284px;
}


.modal-somos-salazar h3 {
	position: absolute;
	top: -28px;
	left: 0;
	right: 0;
	z-index: 1;
	color: #fff;
	font-size: 24px;
	font-family: 'museo300';
	text-align: center;
}

.modal-somos-salazar h3 strong {
	font-family: 'museo700'
}

.modal-somos-salazar h3 span {
	background: #878787;
	display: inline-block;
	padding: 15px 25px;
}

.modal-somos-salazar img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.modal-somos-salazar p {
	color: #3f3f3f;
	font-size: 16px;
	font-family: 'museo300';
	line-height: 22px;
}

.modal-somos-salazar p span{
	font-family: 'museo500';
}

.modal-somos-salazar .icon-more {
	top: -15px;
	right: 30px;
	z-index: 2;
}



@media (max-width: 900px) {
	
}