.navigation-left {
	height: 100%;
	display: table;
	position: fixed;
	top: 0;
	left: 30px;
	bottom: 0;
	z-index: 1;
	border-left: 1px solid #8c8c8c;
}

.navigation-left > div {
	display: table-cell;
	vertical-align: middle;
}

.navigation-left a {
	color: #3e3e3e;
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 30px;
	border-left: 3px solid transparent;
	padding-left: 30px;
	position: relative;
	left: -2px;
	text-shadow: 0 0 28px #999;
}

.navigation-left a:hover,
.navigation-left a.active {
	color: #FFF;
	font-family: 'museo700';
	text-decoration: none;
	border-left: 3px solid #fff;
}