.navigation-left {
	height: 100%;
	display: table;
	position: fixed;
	top: 0;
	left: 40px;
	bottom: 0;
	z-index: 999;
	border-left: 1px solid #8c8c8c;
}

.navigation-left > a {
	position: absolute;
	left: -9px;
}

.navigation-left > a span{
	position: absolute;
	opacity: 1;
	background:  url('./assets/sp-arrows-navigator.png') no-repeat;
	left: 0;
	right: 0;
	text-indent: -9999px;
	height: 6px;
	display: inline-block;
}

.navigation-left > div {
	display: table-cell;
	vertical-align: middle;
}

.navigation-left > div a {
	color: #3e3e3e;
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 30px;
	border-left: 3px solid transparent;
	padding-left: 30px;
	position: relative;
	left: -2px;
	text-shadow: 0 0 28px #999;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.navigation-left > div a:hover,
.navigation-left > div a.active {
	color: #FFF;
	font-family: 'museo700';
	text-decoration: none;
	border-left: 3px solid #fff;
}

.navigation-left .link-square {
	margin: 0;
}

.navigation-left .square-rotate {
	width: 18px;
	height: 18px;
	border: 1px solid #8c8c8c;
	background: #fff;
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.navigation-left .link-square:hover .square-rotate {
	-moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #bfa966;
}

.navigation-left a.up{
	top: 15%;
}

.navigation-left a.down{
	bottom: 15%;
}

.navigation-left a.up span{
	background-position: 5px -3px;
}

.navigation-left a.down span{
	background-position: 5px -21px;
}

.navigation-left a.up:hover span{
	background-position: 5px -12px;
}

.navigation-left a.down:hover span{
	background-position: 5px -31px;
}