.nuestro-metodo-en-la-practica {
	background-image: url(./assets/bg-nuestro-metodo-practica.jpg);
}

.nuestro-metodo-en-la-practica .container article {
	max-width: 626px
}
.nuestro-metodo-en-la-practica .container-text p {
	color: #525252;
}

.nuestro-metodo-en-la-practica .container-text p a {
	color: #fff;
}

.content-nav{
	padding-top: 30px;
}

.owl-carousel h2{
	font-family: "museo700";
	font-size: 18px;
	color: #525252;
	line-height: 30px;
	text-transform: uppercase;
}

.owl-carousel .item{
	padding: 0 10px;
}

.owl-theme .owl-pagination,
.owl-theme .owl-buttons > div {
	position: absolute;
}

.owl-theme .owl-pagination{
	top: -30px;
	left: 0;
	right: 0;
}

.owl-theme .owl-buttons > div {
	top: 50%;
	margin-top: -19px;
	width: 38px;
	height: 38px;
	padding: 15px;
	background: #545454;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.owl-theme .owl-buttons > div::before {
	content: '';
	display: inline-block;
	background-image: url('./assets/sp-arrows-sliders.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 7px;
	right: 0;
	left: 0;
	bottom: 7px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.owl-theme .owl-buttons > div:hover {
	top: 50%;
	margin-top: -19px;
	width: 38px;
	height: 38px;
	padding: 15px;
	background: #545454;
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.owl-theme .owl-buttons > div:hover::before {
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.owl-prev{
	left: -20px;
}

.owl-next{
	right: -20px;
}

.owl-prev::before {
	background-position: 14px -18px;
}

.owl-next::before{
	background-position: 16px -57px;
}

.owl-prev:hover::before {
	background-position: 14px 2px;
}

.owl-next:hover::before{
	background-position: 16px -37px;
}