.pantalla-final {
	background-image: url('./assets/bg-pantalla-final.jpg');
	display: table;
}

.pantalla-final .logo {
	display: table-cell;
	background: url('./assets/logo-pantalla-final.png') no-repeat center center;
	width: 466px;
	height: 210px;
	position: static;
	margin-left: 0;
}

.pantalla-final .logo > *{
	position: absolute;
	opacity: 0;
}

