.somos-salazar-bogoya {
	background-image: url('./assets/bg-somos-salazar-bogoya.jpg');
	background-position: center right;
	background-attachment: scroll;
}

.somos-salazar-bogoya .container-text > div {
	border: none;
	border-left: 1px solid #a0a0a0;
	background: none;
	color: #fff;
	padding: 130px 0 30px 30px;
}

.somos-salazar-bogoya .container-text h3 {
	top: 30px;
	left: -30px;
	right: auto;
}

.somos-salazar-bogoya .names {
	position: absolute;
	background: #00ff00;
	line-height: 40px;
	display:inline-block;
	padding: 0 30px;
	background: #fff;
	color: #bfa966;
	text-transform: uppercase;
	z-index: 2;
}

.somos-salazar-bogoya .names:hover {
	text-decoration: none;
}

.somos-salazar-bogoya .names .icon-more {
	top: 27px;
    right: 15px;
}

.somos-salazar-bogoya .names strong {
	font-family: "museo700"
}

.somos-salazar-bogoya .names.alfredo{
	right: 400px;
	top: 130px;
}

.somos-salazar-bogoya .names.nubia{
	right: 60px;
	top: 350px;
}