.somos-salazar-bogoya {
	background-image: url('./assets/bg-somos-salazar-bogoya.jpg');
	background-position: center right;
}

.somos-salazar-bogoya .container-text > div {
	border: none;
	border-left: 1px solid #a0a0a0;
	background: none;
	color: #fff;
	padding: 130px 0 30px 30px;
}

.somos-salazar-bogoya .container-text h3 {
	top: 30px;
	left: -30px;
	right: auto;
}